<% provide(:title, 'About us')%>
<h1>Testing about us page</h1>
<hr>
<p>This is about us page</p>
<a href="/static_pages/home"><p>Home page</p></a>
<a href="/static_pages/help"><p>Help page</p></a>
<a href="#"><p>Ruby on rails</p></a>
