<% provide(:title, 'Help')%>
<h1>Testing help page</h1>
<hr>
<p>This is help page</p>
<a href="/static_pages/home"><p>Home page</p></a>
<a href="/static_pages/about"><p>About us page</p></a>
<a href="#"><p>Ruby on Rails</p></a>
